<h1>Корзина</h1>

{{#if courses.length}}
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{#each courses}}
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btm-small">
                        Удалить
                    </button>
                </td>
                {{/each}}
            </tr>
        </tbody>
    </table>
    <p><strong>Цена: </strong><span class="price">{{price}}</span></p>
{{else}}
    <p>Корзина пуста</p>
{{/if}}